<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OSX Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83B3D8CA178FF58F0047E846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83B3D8F1178FF9BB0047E846</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53052178FE64D000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53062178FE64D000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E5307F178FE6C6000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E5308C178FE6C6000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E530A5178FE707000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E530B7178FE71F000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53108178FF205000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53124178FF2BD000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53143178FF3A3000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83E53160178FF533000513E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
